$breakpoints: (
  sm: 640px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
);

@mixin up($bp) {
  @media (min-width: map-get($breakpoints, $bp)) {
    @content;
  }
}
@mixin down($bp) {
  @media (max-width: calc(map-get($breakpoints, $bp) - 0.02px)) {
    @content;
  }
}
@mixin between($min, $max) {
  @media (min-width: map-get($breakpoints, $min)) and (max-width: calc(map-get($breakpoints,$max) - 0.02px)) {
    @content;
  }
}
