@use "@/styles/variables" as *;
@use "@/styles/breakpoints" as *;

.shell {
  background: #f9fafb;
  min-height: 100dvh;
}
.body {
  display: grid;
  grid-template-columns: $sidebar-width 1fr;
}

.main {
  min-height: calc(100dvh - 72px);
  padding: 1.25rem 1.5rem;
  overflow: auto;
  color: #213f7d;
  background: #fbfbfb;
  border-left: 1px solid transparent;
}

@include down(lg) {
  .body {
    grid-template-columns: 1fr;
  }
}
